// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

// I added this style to change the background-color of the services section
.services-background-color {
  background-color: black;
}
